Assignment 3/A3SoapClient/web/WEB-INF/wsdl/localhost_8080/A3-Soap-Service/Messages.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://message.soap.a3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://message.soap.a3/">

<xs:element name="addMessage" type="tns:addMessage"/>

<xs:element name="addMessageResponse" type="tns:addMessageResponse"/>

<xs:element name="showAllMessage" type="tns:showAllMessage"/>

<xs:element name="showAllMessageResponse" type="tns:showAllMessageResponse"/>

<xs:complexType name="addMessage">
<xs:sequence>
<xs:element name="newMessage" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMessageResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showAllMessage">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showAllMessageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>